@import './styles/loader.css';
h1, p {
  font-family: Lato;
}

body {
  background-color: #f4f6f8;
}



.grid-wrapper {
  top: 0px;
  z-index: 1;
  /* position: absolute; */
  width: 99%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 100px);
  border-style: solid;
  border-width: 1px;
}

.grid-wrapper div {
  border-style: solid;
  border-width: 1px;
}


.img {
  min-height: calc(100% - 20px);
  height: calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);


  background-size: contain !important;
  border-width: 0px !important;
  margin: 10px;
}

.west {
transform: rotate(270deg);
}
.east {
  transform: rotate(90deg);
}

.south {
  transform: rotate(180deg);
}

.north {
  transform: rotate(360deg);
}


.img-background {
  background: url(https://user-images.githubusercontent.com/6831336/93167614-4281b680-f721-11ea-9a6a-f26d389b8444.png) no-repeat center;
}
.MuiList-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.report {
  background-color: #d4daff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





